.products-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.products-table td, .products-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
.products-table tr:nth-child(even){background-color: #f2f2f2;}

.products-table tr:hover {background-color: #ddd;}

.products-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}